<center>  <h1>Business is not Open Yet</h1>
    <p></p>
    <div class="modal-body"><h3>Select "Return" below if you want to return to View.</h3></div>
    <p></p>
    @Html.ActionLink("Return", "UserPosts", new {}, new {@class="btn btn-success"}) </center> 